In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
train_data.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
492,493,0,1,"Molson, Mr. Harry Markland",male,55.00,0,0,113787,30.5000,C30,S
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C
242,243,0,2,"Coleridge, Mr. Reginald Charles",male,29.00,0,0,W./C. 14263,10.5000,NaN,S
704,705,0,3,"Hansen, Mr. Henrik Juul",male,26.00,1,0,350025,7.8542,NaN,S
395,396,0,3,"Johansson, Mr. Erik",male,22.00,0,0,350052,7.7958,NaN,S

In [3]:
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
test_data.sample(5)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
86,978,3,"Barry, Miss. Julia",female,27.0,0,0,330844,7.8792,NaN,Q
27,919,3,"Daher, Mr. Shedid",male,22.5,0,0,2698,7.2250,NaN,C
302,1194,2,"Phillips, Mr. Escott Robert",male,43.0,0,1,S.O./P.P. 2,21.0000,NaN,S
182,1074,1,"Marvin, Mrs. Daniel Warner (Mary Graham Carmic...",female,18.0,1,0,113773,53.1000,D30,S
294,1186,3,"Wittevrongel, Mr. Camille",male,36.0,0,0,345771,9.5000,NaN,S

In [4]:
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

y = train_data["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch", "Embarked"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model1 = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model1.fit(X, y)
predictions1 = model1.predict(X_test)
output1 = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions1})

model2 = DecisionTreeClassifier(max_depth=5, min_samples_split=2, random_state=1)
model2.fit(X,y)
predictions2 = model2.predict(X_test)
output2 = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions2})

model3 = ExtraTreesClassifier(n_estimators=100, max_depth=5, min_samples_split=2, random_state=1)
model3.fit(X,y)
predictions3 = model3.predict(X_test)
output3 = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions3})

In [5]:
output1.to_csv('Submission3RandForest.csv', index=False)
output2.to_csv('Submission3DecisionTree.csv', index=False)
output3.to_csv('Submission3ExtraTree.csv', index=False)